@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Ruslan+Display&display=swap");
.starfield {
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

body {
  background-color: black;
}

h1 {
  font-family: "Fira Code", monospace;
  font-size: 1.5rem;
  color: white;
}

h2 {
  font-family: "Fira Code", monospace;
  margin-left: 50px;
}

img {
  display: inline-block;
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.block-center {
  margin: auto 0;
  align: center;
}

.white {
  color: white;
}

.announcement {
  text-align: left;
  font-family: "Fira Code", monospace;
  list-style-type: none;
}

.content-div {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.glitched-text {
  position: relative;
  display: inline-block;
}

.glitched-text::before,
.glitched-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.glitched-text::before {
  left: 3px;
  text-shadow: -2px 0 1px #0f0, 2px 0 1px #f0f;
  clip: rect(24px, 1000px, 90px, 0);
  animation: glitch-anim-2 2s infinite linear alternate-reverse;
  animation-play-state: paused;
}

.glitched-text::after {
  left: -3px;
  text-shadow: -2px 0 1px #0f0, 2px 0 1px #f0f;
  clip: rect(85px, 1000px, 140px, 0);
  animation: glitch-anim-2 1.5s infinite linear alternate-reverse;
  animation-play-state: paused;
}

.glitched-text::after,
.glitched-text::before {
  animation-play-state: running;
}

.glitched-text:hover::after,
.glitched-text:hover::before {
  animation-play-state: paused;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(85px, 9999px, 31px, 0);
  }
  4.166666666666666% {
    clip: rect(37px, 9999px, 14px, 0);
  }
  8.333333333333332% {
    clip: rect(97px, 9999px, 121px, 0);
  }
  12.5% {
    clip: rect(24px, 9999px, 106px, 0);
  }
  16.666666666666664% {
    clip: rect(103px, 9999px, 25px, 0);
  }
  20.833333333333336% {
    clip: rect(134px, 9999px, 85px, 0);
  }
  25% {
    clip: rect(74px, 9999px, 123px, 0);
  }
  29.166666666666668% {
    clip: rect(137px, 9999px, 30px, 0);
  }
  33.33333333333333% {
    clip: rect(47px, 9999px, 121px, 0);
  }
  37.5% {
    clip: rect(54px, 9999px, 143px, 0);
  }
  41.66666666666667% {
    clip: rect(1px, 9999px, 37px, 0);
  }
  45.83333333333333% {
    clip: rect(51px, 9999px, 119px, 0);
  }
  50% {
    clip: rect(90px, 9999px, 132px, 0);
  }
  54.166666666666664% {
    clip: rect(75px, 9999px, 32px, 0);
  }
  58.333333333333336% {
    clip: rect(133px, 9999px, 5px, 0);
  }
  62.5% {
    clip: rect(63px, 9999px, 84px, 0);
  }
  66.66666666666666% {
    clip: rect(6px, 9999px, 124px, 0);
  }
  70.83333333333334% {
    clip: rect(65px, 9999px, 2px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 56px, 0);
  }
  79.16666666666666% {
    clip: rect(98px, 9999px, 101px, 0);
  }
  83.33333333333334% {
    clip: rect(45px, 9999px, 8px, 0);
  }
  87.5% {
    clip: rect(69px, 9999px, 63px, 0);
  }
  91.66666666666666% {
    clip: rect(83px, 9999px, 115px, 0);
  }
  95.83333333333334% {
    clip: rect(145px, 9999px, 114px, 0);
  }
  100% {
    clip: rect(124px, 9999px, 144px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(85px, 9999px, 31px, 0);
  }
  4.166666666666666% {
    clip: rect(37px, 9999px, 14px, 0);
  }
  8.333333333333332% {
    clip: rect(97px, 9999px, 121px, 0);
  }
  12.5% {
    clip: rect(24px, 9999px, 106px, 0);
  }
  16.666666666666664% {
    clip: rect(103px, 9999px, 25px, 0);
  }
  20.833333333333336% {
    clip: rect(134px, 9999px, 85px, 0);
  }
  25% {
    clip: rect(74px, 9999px, 123px, 0);
  }
  29.166666666666668% {
    clip: rect(137px, 9999px, 30px, 0);
  }
  33.33333333333333% {
    clip: rect(47px, 9999px, 121px, 0);
  }
  37.5% {
    clip: rect(54px, 9999px, 143px, 0);
  }
  41.66666666666667% {
    clip: rect(1px, 9999px, 37px, 0);
  }
  45.83333333333333% {
    clip: rect(51px, 9999px, 119px, 0);
  }
  50% {
    clip: rect(90px, 9999px, 132px, 0);
  }
  54.166666666666664% {
    clip: rect(75px, 9999px, 32px, 0);
  }
  58.333333333333336% {
    clip: rect(133px, 9999px, 5px, 0);
  }
  62.5% {
    clip: rect(63px, 9999px, 84px, 0);
  }
  66.66666666666666% {
    clip: rect(6px, 9999px, 124px, 0);
  }
  70.83333333333334% {
    clip: rect(65px, 9999px, 2px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 56px, 0);
  }
  79.16666666666666% {
    clip: rect(98px, 9999px, 101px, 0);
  }
  83.33333333333334% {
    clip: rect(45px, 9999px, 8px, 0);
  }
  87.5% {
    clip: rect(69px, 9999px, 63px, 0);
  }
  91.66666666666666% {
    clip: rect(83px, 9999px, 115px, 0);
  }
  95.83333333333334% {
    clip: rect(145px, 9999px, 114px, 0);
  }
  100% {
    clip: rect(124px, 9999px, 144px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(103px, 9999px, 37px, 0);
  }
  10% {
    clip: rect(31px, 9999px, 50px, 0);
  }
  13.333333333333334% {
    clip: rect(43px, 9999px, 23px, 0);
  }
  16.666666666666664% {
    clip: rect(67px, 9999px, 29px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 56px, 0);
  }
  23.333333333333332% {
    clip: rect(8px, 9999px, 90px, 0);
  }
  26.666666666666668% {
    clip: rect(31px, 9999px, 51px, 0);
  }
  30% {
    clip: rect(46px, 9999px, 143px, 0);
  }
  33.33333333333333% {
    clip: rect(54px, 9999px, 6px, 0);
  }
  36.666666666666664% {
    clip: rect(67px, 9999px, 105px, 0);
  }
  40% {
    clip: rect(96px, 9999px, 14px, 0);
  }
  43.333333333333336% {
    clip: rect(147px, 9999px, 140px, 0);
  }
  46.666666666666664% {
    clip: rect(84px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(123px, 9999px, 88px, 0);
  }
  53.333333333333336% {
    clip: rect(147px, 9999px, 132px, 0);
  }
  56.666666666666664% {
    clip: rect(53px, 9999px, 111px, 0);
  }
  60% {
    clip: rect(59px, 9999px, 112px, 0);
  }
  63.33333333333333% {
    clip: rect(30px, 9999px, 21px, 0);
  }
  66.66666666666666% {
    clip: rect(92px, 9999px, 54px, 0);
  }
  70% {
    clip: rect(121px, 9999px, 98px, 0);
  }
  73.33333333333333% {
    clip: rect(15px, 9999px, 60px, 0);
  }
  76.66666666666667% {
    clip: rect(66px, 9999px, 26px, 0);
  }
  80% {
    clip: rect(146px, 9999px, 98px, 0);
  }
  83.33333333333334% {
    clip: rect(117px, 9999px, 39px, 0);
  }
  86.66666666666667% {
    clip: rect(87px, 9999px, 16px, 0);
  }
  90% {
    clip: rect(102px, 9999px, 84px, 0);
  }
  93.33333333333333% {
    clip: rect(68px, 9999px, 112px, 0);
  }
  96.66666666666667% {
    clip: rect(36px, 9999px, 114px, 0);
  }
  100% {
    clip: rect(97px, 9999px, 53px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(103px, 9999px, 37px, 0);
  }
  10% {
    clip: rect(31px, 9999px, 50px, 0);
  }
  13.333333333333334% {
    clip: rect(43px, 9999px, 23px, 0);
  }
  16.666666666666664% {
    clip: rect(67px, 9999px, 29px, 0);
  }
  20% {
    clip: rect(10px, 9999px, 56px, 0);
  }
  23.333333333333332% {
    clip: rect(8px, 9999px, 90px, 0);
  }
  26.666666666666668% {
    clip: rect(31px, 9999px, 51px, 0);
  }
  30% {
    clip: rect(46px, 9999px, 143px, 0);
  }
  33.33333333333333% {
    clip: rect(54px, 9999px, 6px, 0);
  }
  36.666666666666664% {
    clip: rect(67px, 9999px, 105px, 0);
  }
  40% {
    clip: rect(96px, 9999px, 14px, 0);
  }
  43.333333333333336% {
    clip: rect(147px, 9999px, 140px, 0);
  }
  46.666666666666664% {
    clip: rect(84px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(123px, 9999px, 88px, 0);
  }
  53.333333333333336% {
    clip: rect(147px, 9999px, 132px, 0);
  }
  56.666666666666664% {
    clip: rect(53px, 9999px, 111px, 0);
  }
  60% {
    clip: rect(59px, 9999px, 112px, 0);
  }
  63.33333333333333% {
    clip: rect(30px, 9999px, 21px, 0);
  }
  66.66666666666666% {
    clip: rect(92px, 9999px, 54px, 0);
  }
  70% {
    clip: rect(121px, 9999px, 98px, 0);
  }
  73.33333333333333% {
    clip: rect(15px, 9999px, 60px, 0);
  }
  76.66666666666667% {
    clip: rect(66px, 9999px, 26px, 0);
  }
  80% {
    clip: rect(146px, 9999px, 98px, 0);
  }
  83.33333333333334% {
    clip: rect(117px, 9999px, 39px, 0);
  }
  86.66666666666667% {
    clip: rect(87px, 9999px, 16px, 0);
  }
  90% {
    clip: rect(102px, 9999px, 84px, 0);
  }
  93.33333333333333% {
    clip: rect(68px, 9999px, 112px, 0);
  }
  96.66666666666667% {
    clip: rect(36px, 9999px, 114px, 0);
  }
  100% {
    clip: rect(97px, 9999px, 53px, 0);
  }
}
.glitched-img::before {
  content: "text";
}

:root {
  --size: 1;
  --background: #000;
  --color1: #d25778;
  --color2: #ec585c;
  --color3: #e7d155;
  --color4: #56a8c6;
}

body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.ticket-visual_visual {
  width: 650px;
  height: 320px;
  margin: 100px auto;
  position: relative;
  transition: all 300ms cubic-bezier(0.03, 0.98, 0.53, 0.99) 0s;
  background: linear-gradient(to right, var(--color1), var(--color2), var(--color3), var(--color4));
  border-radius: 20px;
  padding: 5px;
}
.ticket-visual_visual:before {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  left: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--color1);
  z-index: 2;
}
.ticket-visual_visual:after {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  right: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--color4);
  z-index: 2;
}
.ticket-visual-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: var(--background);
  border-radius: 15px;
}
.ticket-visual-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  left: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--background);
  z-index: 3;
}
.ticket-visual-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  right: -30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--background);
  z-index: 3;
}
.ticket-visual_profile {
  padding: calc(20px * var(--size)) calc(155px * var(--size)) calc(20px * var(--size)) calc(58px * var(--size));
}
.ticket-visual_ticket-number-wrapper {
  position: absolute;
  right: 35px;
  bottom: 0;
}
.ticket-visual_ticket-number {
  transform: rotate(90deg) translateY(calc(100px * var(--size)));
  transform-origin: bottom right;
  font-size: calc(40px * var(--size));
  font-weight: 700;
  text-align: center;
  padding-bottom: 35px;
  width: calc(320px - 10px);
  border-bottom: 2px dashed #333;
}

.left {
  position: absolute;
  top: 110px;
  left: -50px;
  width: 50px;
  height: 100px;
  background: var(--background);
  z-index: 4;
}

.right {
  position: absolute;
  top: 110px;
  right: -50px;
  width: 50px;
  height: 100px;
  background: var(--background);
  z-index: 4;
}

.ticket-profile_text {
  margin: 0;
}
.ticket-profile_profile {
  display: flex;
  flex-direction: row;
}
.ticket-profile_image {
  width: calc(82px * var(--size));
  height: calc(82px * var(--size));
  border-radius: 50%;
}
.ticket-profile_name {
  font-size: calc(32px * var(--size));
  margin: 10px 0 5px 20px;
  font-weight: 700;
}
.ticket-profile_username {
  margin: 0 0 5px 20px;
  color: #8a8f98;
  display: flex;
}
.ticket-profile_githubIcon img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.ticket-event {
  margin-top: 25px;
  margin-left: -10px;
}